<div class="video-background">
  <video autoplay muted loop id="background-video" class="main-video">
    <source src="../../../assets/images/video_2.mp4" type="video/mp4">
  </video>

  <div class="centered-container">
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-md-6 col-lg-4">
          <div class="form-container">
            <h2 class="text-center mb-4">Motor-bike emmision</h2>
            <form (ngSubmit)="onSubmit()">
              <div class="form-group">
                <label for="milage">Mileage (km) <span class="required">*</span></label>
                <input type="number" class="form-control" id="milage" name="milage" placeholder="Enter mileage" [(ngModel)]="bikeDetails.milage" required/>
              </div>

              <div class="form-group">
                <label for="engineType" class="form-label" >Engine Type <span class="required">*</span></label>
                <select class="form-select" id="engineType" name="engineType" [(ngModel)]="bikeDetails.engineType" required>
                  <option value="" disabled selected>Select a type</option>
                  <option value="2">Two Stroke</option>
                  <option value="4">Four Stroke</option>
                </select>
              </div>

              <div class="form-group">
                <label for="engineSize" class="form-label" >Engine Size <span class="required">*</span></label>
                <select class="form-select" id="engineSize" name="engineSize" [(ngModel)]="engS" required>
                  <option value="" disabled selected>Select a size</option>
                  <option value="100">Less than 100cc</option>
                  <option value="150">100cc to 150cc</option>
                  <option value="200">150cc to 200cc</option>
                  <option value="300">200cc to 300cc</option>
                  <option value="500">300cc to 500cc</option>
                </select>
              </div>

              <div class="form-group">
                <label for="bikeAge">Bike Age <span class="required">*</span></label>
                <input type="number" class="form-control" id="bikeAge" name="bikeAge" placeholder="Enter bike age (yrs)" [(ngModel)]="bikeDetails.bikeAge" required />
              </div>

              <div class="form-group">
                <label for="usagePerMonth">Usage per month <span class="required">*</span></label>
                <input type="number" class="form-control" id="usagePerMonth" name="usagePerMonth" placeholder="Enter usage (km)" [(ngModel)]="bikeDetails.usagePerMonth" required/>
              </div>

              <div class="form-group button">
                <button type="button" class="btn btn-outline-success btn-block" (click)="goBack()">Previous</button>
                <button type="submit" class="btn btn-outline-success btn-block">Next</button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
