<!--<img src="../assets/images/smoke.jpg" alt="">Here is the ia-->
<header>
  <nav class="navbar" id="navbar">
    <div class="navbar-logo">
      <img src="../assets/images/carbon-footprint.png" alt="" width="60px">
    </div>
    <ul class="navbar-links">
      <li><a href="#">Home</a></li>
    </ul>
    <div class="navbar-toggle " id="mobile-menu">
    </div>
  </nav>

</header>

<main>
  <router-outlet></router-outlet>
</main>

<footer class="footer">
  <div class="container-footer">
    <span class="text-muted">&copy; 2024 Copyright. IIT Kharagpur</span>
  </div>
</footer>
