<div class="text-data">
  <h3 class="text-heading">Effects of climate change are being seen
    <ul class="text-main">
      <li class="text-list">Increase in sea level (global sea level has increased by 0.19m between 1910 and 2010)</li>
      <li class="text-list">Increase in sea surface temperature (global average increase of 0.11⁰C between 1971 and 2010)</li>
      <li class="text-list">Reduction in sea ice (2016 saw the lowest winter sea ice ever recorded, beating the 2015 record)</li>
      <li class="text-list">Change in precipitation (Some areas of the Earth are becoming seeing more intense flooding while others are seeing severe droughts) </li>
      <li class="text-list">Change in El Nino intensity (As El Nino intensity is in part based on sea surface temperatures, rising temperatures will cause more intense El Ninos causing flooding, droughts, wild fires and famines)</li>
      <li class="text-list">Ocean Acidification (The acidity of the oceans has decreased by 0.1 on the pH scale since the beginning of the industrial era)</li>
    </ul></h3>

</div>

<div class="container card">
  <a href="/details" class="card__link">
    <h3 class="card__header-title">Calculate Carbon Footprint

      <p class="card-text">Based on the annual report from NOAA’s Global Monitoring Lab, global average atmospheric carbon dioxide was 419.3 parts per million (“ppm” for short) in 2023, setting a new record high. The increase between 2022 and 2023 was 2.8 ppm—the 12th year in a row where the amount of carbon dioxide in the atmosphere increased by more than 2 ppm. At Mauna Loa Observatory in Hawaii, where the modern carbon dioxide record began in 1958, the annual average carbon dioxide in 2023 was 421.08.
        <br>
        <a href="https://www.climate.gov/news-features/understanding-climate/climate-change-atmospheric-carbon-dioxide" class="card-read">Read more</a>
      </p>
    </h3>

  </a>
</div>

<div class="video-background">
  <video autoplay muted loop id="background-video" class="main-video">
    <source src="../../../assets/images/video.mp4" type="video/mp4">
  </video>
</div>
